.card_container {
  width: 18rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 0.8rem;
  border-radius: 0.2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.img_container {
  width: 18rem;
  height: 18rem;
  margin-bottom: 0.8rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
}

.card_btn {
  width: 8rem;
  height: 2.5rem;
  font-size: 1.2rem;
  background-color: #75c9c8;
  color: white;
}
